# Leap Year

In [1]:
year=int(input('Enter  year'))
if year%100==0 and year%400==0:
    print('Year is a leap year')
elif year%100!=0 and year%4==0:
    print('Year is a leap year')
else:
    print('Year is not a leap year')

Year is not a leap year

# Print integer to till n.

In [6]:
n=int(input())
for i in range(1,n+1):
    print(i,end='')

123

In [8]:
n=int(input())
l=[]
for i in range(1,n):
    if n//2==0:
        l.append(i)
    else:
        l.insert(n,1)
print(l)

[1, 1, 1]

In [16]:
n=int(input())
l=[]
for i in range(1,n//2+1):
    l.append(i)
else:
    l.insert(1,n-1)
print(l)

[1, 11, 2, 3, 4, 5, 6]

In [ ]:
n=int(input())
arr=map(int,input().split())
for i in range(1,n+1):
    print(max(i))

In [31]:
a='HackerRank.com presents "Pythonist 2".'
print(a.swapcase())

hACKERrANK.COM PRESENTS "pYTHONIST 2".

In [32]:
a=input()
print(a.swapcase())

HAPPY

In [45]:
a='this is a string'
# print(a.split(' '))
print('-'.join(a.split(' ')))

this-is-a-string

In [49]:
def split_and_join(a):
    result='-'.join(a.split(' '))
    return result
split_and_join(input())

'this-is-right'

In [60]:
def print_full_name(first, last):
    message=f'Hello {first} {last}! You just delved into python'
    return message
print_full_name('Ross','Taylor')

'Hello Ross Taylor! You just delved into python'

In [75]:
def print_full_name(first, last):
    result=f"Hello {first} {last}! You just delved into python."
    return result

print_full_name('Ross', 'Tylor')

'Hello Ross Tylor! You just delved into python.'

In [76]:
def print_full_name(first, last):
    result=f'Hello {first} {last}! You just delved into python.'
    return result
print_full_name('Ross','Tylor')

'Hello Ross Tylor! You just delved into python.'

In [9]:
n='chris alan'
print(n.capitalize())

Chris alan

In [14]:
def solve(s):
    a=s.title()
    return a
solve('1 w 2 r 3g')

'1 W 2 R 3G'

In [17]:
l = [i for i  in range(1,11) if i%2!=0]
print(l)

[1, 3, 5, 7, 9]

a='aBCd'

output:{'a': 'AAA', 'b': 'BBB', 'c': 'CCC', 'd': 'DDD'}

In [30]:
a='aBCd'
d ={i:(i*3).upper() for i in a}
print(d)

{'a': 'AAA', 'B': 'BBB', 'C': 'CCC', 'd': 'DDD'}

In [38]:
class Rimjhim:
    def __init__(self,name,address):
        self.name=name
        self.address=address
    def show_data(self):
        print('Name is ',self.name)
        print('Address is ',self.address)
# Rim=Rimjhim('Jhilmil Ji','Bihar')
# Rim.show_data()
Him=Rimjhim('Himanshu','Uttar Pradesh')
Him.show_data()

Name is  Himanshu
Address is  Uttar Pradesh

In [5]:
n=int(input())
stud_marks={}
m1=int(input())
m2=int(input())
m3=int(input())
avg=(m1+m2+m3)//3
print(avg)

20

In [4]:
m1=int(input())
m2=int(input())
print(m1//m2)

2

# WAP to print armstrong number.

In [8]:
n=int(input())
L=len(str(n))
dummy=n
sum=0
while dummy>0:
    r=dummy%10
    sum=sum+(r)**L
    dummy=dummy//10
if sum==n:
    print('Armstrong')
else:
    print('Not Armstrong')

Armstrong

# WAP to print palindrome number.

In [10]:
n=int(input())
rev=0
dummy=n
while dummy>0:
    r=dummy%10
    rev=rev*10+r
    dummy=dummy//10
if rev==n:
    print('Palindrome')
else:
    print('Not Palindrome')

Palindrome